<% #coding:utf-8 %>
<% require 'rubygems' %>

<html lang='en'>
    <head>
        <meta charset='utf-8'/>
        <link rel="stylesheet" type="text/css" href="default.css">
        <title>list</title>
    </head>
    <body>
        <h1>ポケモン管理</<h1> <!--題-->
        <h2>努力値が上限を超えています</h2>
        <p>登録内容を変更してもう一度登録してください|<a href="entry.erb">ポケモンの登録</a>|<a href="serch.erb">ポケモンの検索</a>|<a href="entrance.html">メニューに戻る</a>|</p>
        <hr>
    </body>
</html>